

 .instruction{
   margin-top: 30px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   padding: 1.5rem;
   padding-left: 3rem;
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
 }

 button.download{
  background-color: rgba(178, 183, 186, 0.6);
  margin-left: 40%;
  width: 6rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: 1rem; 
  border: 1px solid rgba(178, 183, 186, 0.3);
  font-weight:bold ;
 }
 button.download:hover{
  scale: 0.97;
  cursor: pointer;
  }
 